<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangyonggan.app.fortune.mapper.CommandMapper">
    <resultMap id="BaseResultMap" type="com.kangyonggan.app.fortune.model.vo.Command">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="merch_co" jdbcType="VARCHAR" property="merchCo"/>
        <result column="protocol" jdbcType="VARCHAR" property="protocol"/>
        <result column="merch_serial_no" jdbcType="VARCHAR" property="merchSerialNo"/>
        <result column="fpay_serial_no" jdbcType="VARCHAR" property="fpaySerialNo"/>
        <result column="tran_co" jdbcType="VARCHAR" property="tranCo"/>
        <result column="req_date" jdbcType="VARCHAR" property="reqDate"/>
        <result column="req_time" jdbcType="VARCHAR" property="reqTime"/>
        <result column="fpay_date" jdbcType="VARCHAR" property="fpayDate"/>
        <result column="acct_no" jdbcType="VARCHAR" property="acctNo"/>
        <result column="acct_nm" jdbcType="VARCHAR" property="acctNm"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="id_tp" jdbcType="VARCHAR" property="idTp"/>
        <result column="id_no" jdbcType="VARCHAR" property="idNo"/>
        <result column="currCo" jdbcType="VARCHAR" property="currco"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="sndr_acct_tp" jdbcType="VARCHAR" property="sndrAcctTp"/>
        <result column="rcvr_acct_tp" jdbcType="VARCHAR" property="rcvrAcctTp"/>
        <result column="settle_date" jdbcType="VARCHAR" property="settleDate"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="resv1" jdbcType="VARCHAR" property="resv1"/>
        <result column="resv2" jdbcType="VARCHAR" property="resv2"/>
        <result column="tran_st" jdbcType="VARCHAR" property="tranSt"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
    </resultMap>
</mapper>