<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kangyonggan.app.fortune.mapper.CommandMapper">
    <resultMap id="BaseResultMap" type="com.kangyonggan.app.fortune.model.vo.Command">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="merch_co" property="merchCo" jdbcType="VARCHAR"/>
        <result column="protocol" property="protocol" jdbcType="VARCHAR"/>
        <result column="merch_serial_no" property="merchSerialNo" jdbcType="VARCHAR"/>
        <result column="fpay_serial_no" property="fpaySerialNo" jdbcType="VARCHAR"/>
        <result column="fpay_date" property="fpayDate" jdbcType="VARCHAR"/>
        <result column="acct_no" property="acctNo" jdbcType="VARCHAR"/>
        <result column="acct_nm" property="acctNm" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="id_tp" property="idTp" jdbcType="VARCHAR"/>
        <result column="id_no" property="idNo" jdbcType="VARCHAR"/>
        <result column="currCo" property="currco" jdbcType="VARCHAR"/>
        <result column="amount" property="amount" jdbcType="DECIMAL"/>
        <result column="sndr_acct_tp" property="sndrAcctTp" jdbcType="VARCHAR"/>
        <result column="rcvr_acct_tp" property="rcvrAcctTp" jdbcType="VARCHAR"/>
        <result column="settle_date" property="settleDate" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="resv1" property="resv1" jdbcType="VARCHAR"/>
        <result column="resv2" property="resv2" jdbcType="VARCHAR"/>
        <result column="tran_st" property="tranSt" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
    </resultMap>
</mapper>