<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangyonggan.app.fortune.mapper.MerchantMapper">
    <resultMap id="BaseResultMap" type="com.kangyonggan.app.fortune.model.vo.Merchant">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="merch_co" jdbcType="VARCHAR" property="merchCo"/>
        <result column="merch_nm" jdbcType="VARCHAR" property="merchNm"/>
        <result column="charset" jdbcType="VARCHAR" property="charset"/>
        <result column="public_key_path" jdbcType="VARCHAR" property="publicKeyPath"/>
        <result column="private_key_path" jdbcType="VARCHAR" property="privateKeyPath"/>
        <result column="ftp_host" jdbcType="VARCHAR" property="ftpHost"/>
        <result column="ftp_user" jdbcType="VARCHAR" property="ftpUser"/>
        <result column="ftp_pwd" jdbcType="VARCHAR" property="ftpPwd"/>
        <result column="ftp_dir" jdbcType="VARCHAR" property="ftpDir"/>
        <result column="is_debug" jdbcType="TINYINT" property="isDebug"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
    </resultMap>
</mapper>